$color-main: #263036;
$color-secondary: #1e1e1e;
$color-header-blue: #1c2e8c;
$color-light: #fff;
$color-black: #000;
$color-btn: #0048d9;
$color-btn-hover: #002266;

$color-error: red;
$bg-color-form: #f8fafc;
$bg-color-left: #86a3b4;
