// .main-theme
@import "_my-theme";
@import "_main-theme";

// font
$font-size-main: 16px;
$font-size-2xlarge: 40px;
$font-size-xlarge: 36px;
$font-size-large: 32px;
$font-size-medium: 24px;
$font-size-small: 20px;
$font-family-main: "Inter", sans-serif;

// size
$space-main: 10px;
$space-small: 2px;
$border-radius-large: 10px;
$border-radius-medium: 6px;

body {
  max-width: 1440px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: $color-main;
}
.body {
  margin: 0 auto;
  width: 90%;
  padding-bottom: $space-main;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas:
    "side summary"
    "side skills"
    "side experience"
    "side achievements";
  border-radius: $border-radius-large;
  margin: $space-main auto;
}

@mixin animation-loader($duration) {
  $name: loader;
  @keyframes #{$name} {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: linear;
}
.side {
  grid-area: side;
}
.summary {
  grid-area: summary;
}

.skills {
  grid-area: skills;
}

.experience {
  grid-area: experience;
}
.achievements {
  grid-area: achievements;
}

.left-side-bar {
  background-color: $bg-color-left;
  padding-left: 15px;
  padding-top: 29px;
  position: relative;
  box-shadow: 1px 0px 13px 7px rgb(80 75 75 / 25%);
  @include animation-loader(2s);
  .header {
    h1 {
      color: $color-header-blue;
      font-size: $font-size-2xlarge;
      padding-left: calc($space-main * 3);
      .white {
        color: $color-light;
      }
    }
    .img {
      transition: transform 1s ease-in 0s, filter 1s ease-in 1s;
      &.animation {
        transform: scale(1.8) translate(76px, 50px);
        filter: drop-shadow(10px 10px 16px rgba(0, 0, 0, 0.25));
      }
      .avatar {
        width: 79%;
        margin-top: $space-main;
      }
    }
  }
  h2 {
    margin-bottom: 0;
    font-size: $font-size-large;
    padding-top: 18px;
    margin-left: 24px;
    border-bottom: 9px solid $color-secondary;
    display: inline-block;
    width: 80%;
  }
  h3 {
    margin-bottom: $space-small;
    font-size: $font-size-medium;
  }
  .contact {
    h3 {
      padding-top: 8px;
      padding-left: 24px;
      margin-bottom: $space-main;
    }
    .element {
      font-size: $font-size-main;
      padding-left: 26px;
      a {
        text-decoration: none;
      }
    }
  }
  .language {
    p {
      font-weight: 600;
      margin: $space-small;
      font-size: $font-size-small;
      color: $color-secondary;
      padding-left: calc($space-main * 2);
      padding-top: 7px;
    }
  }
}

/* right-bar */

.right-side-bar {
  sup {
    font-size: $font-size-small;
    color: blue;
    border: 1px solid blue;
  }
  @include animation-loader(3s);
  .section {
    padding-left: 57px;
    h2 {
      font-size: $font-size-xlarge;
      color: $color-secondary;
      padding-left: $space-small;
      padding-top: 29px;
      border-bottom: 9px solid $color-secondary;
      display: inline-block;
      width: 80%;
      padding-bottom: calc($space-main * 2);
    }
  }
  .experience {
    p {
      font-weight: 400;
    }

    .bold {
      font-weight: 600;
    }

    .work-place {
      margin-bottom: 50px;
      p {
        margin: 0 auto;
      }
    }

    .previous-experience {
      opacity: 70%;
      transition: opacity 1s ease-in 0s;
      &:hover {
        opacity: 100%;
      }
    }
  }
  .btn {
    width: 150px;
    height: 50px;
    background-color: $color-btn;
    border-radius: $border-radius-medium;

    a {
      display: block;
      padding: 15px 45px;
      text-decoration: none;
      font-size: $font-size-main;
      font-weight: 500;
      color: $color-light;
    }
    &:hover {
      background-color: $color-btn-hover;
    }
  }
}

/* FORM */
.contacts {
  max-width: 1024px;
  margin: 0 auto;
  height: 95vh;
}

.contact-form__header {
  text-align: center;
}

.contact-form__header + h3 {
  text-align: center;
}

.contact-form__table,
.contact-form__table th,
.contact-form__table td {
  border: 2px solid;
  width: 100%;
  border-collapse: collapse;
  padding: 5px 10px;
}

.contact-form__table th {
  width: 40%;
}

.form {
  width: 500px;
  margin: 20px auto;
  /* position: sticky;
  top: 31vh;
  left: 30%; */
}

.contact-form__table {
  margin-bottom: calc(var(--space-main) * 2);
}

.contact-form__table th {
  text-align: left;
  max-width: 50%;
}

.email-container,
.description-container {
  margin-left: var(--space-main);
}

.required::after {
  content: "*";
  color: var(--color-error);
}

.checked:hover {
  border: 1px solid var(--color-black);
}

.checked:focus {
  outline: 2px solid green;
}

.contact-form__legend {
  color: #52575c;
  font-size: var(--font-size-main);
  line-height: 21px;
  font-weight: 700;
}

.contact-form__email {
  display: block;
  width: 70%;
  height: 25px;
  font-style: italic;
  padding: 0 var(--space-main);
  appearance: none;
  background: var(--bg-color-form);
  border: none;
}

.contact-form__email:invalid {
  border: 2px solid var(--color-error);
  border-radius: var(--border-radius-medium);
}

.contact-form__textarea {
  display: block;
  resize: none;
  width: 70%;
  height: 100px;
  font-style: italic;
  padding: var(--space-main);
  border: none;
  background: var(--bg-color-form);
}

.contact label {
  color: #6f7482;
  font-size: var(--font-size-main);
  line-height: 24px;
  font-weight: 400;
  margin-left: var(--space-main);
}

.contact-form__select {
  display: block;
  margin-left: var(--space-main);
  width: 73%;
  background-color: var(--bg-color-form);
  height: 30px;
  border: none;
}

.contact-form__select option {
  font-size: var(--font-size-main);
}

select:has(option:disabled) {
  color: var(--bg-color-left);
}

.text-btn {
  font-size: var(--font-size-main);
  font-weight: 500;
  color: var(--color-light);
  margin-left: var(--space-main);
  cursor: pointer;
  border: none;
}

div.btn {
  margin-left: var(--space-main);
}

a.back-btn {
  padding: 15px 33px;
  color: var(--color-black);
}

.homepage-btn {
  background-color: aqua;
}

.homepage-btn:hover {
  background-color: blueviolet;
}

form {
  animation: formSizing 2s ease-in-out;
}

@keyframes formSizing {
  from {
    transform: scale(200%);
    opacity: 0;
  }

  to {
    transform: scale(100%);
    opacity: 1;
  }
}

@media screen and (max-width: 1125px) {
  .side-bar {
    box-shadow: none;
  }

  .header_h1 {
    font-size: var(--font-size-xlarge);
    padding-left: calc(var(--space-main) * 2);
  }
}

@media screen and (max-width: 1080px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "side"
      "summary"
      "skills"
      "experience"
      "achievements";
  }

  .header_h1 {
    font-size: var(--font-size-2xlarge);
    padding-left: calc(var(--space-main) * 3);
  }

  .avatar {
    display: block;
    margin: 0 auto;
  }

  .white {
    display: block;
  }

  .side-bar__language {
    padding-bottom: calc(var(--space-main) * 8);
  }

  .right-side_section h2 {
    padding-top: var(--space-small);
  }

  .right-side_section {
    padding-left: 27px;
  }

  .right-side_section h2 {
    width: 90%;
  }
}

// media queries
@media (min-width: 992px) {
}
