.red {
  font-style: italic;
  color: red;
}

.green {
  font-weight: bold;
  color: green;
}

.grey {
  font-style: italic;
  color: grey;
}

.post-link {
  color: blue;
  font-weight: bold;
  text-transform: capitalize;
}

.overflow {
  height: 50px;
  padding-left: 20px;;
  border: 1px solid black;
}

.post-name{
  padding-left: 50px;
  color:blueviolet;
  font-style: italic;
}

.button{
  display: block;
  width: 250px;
  margin: 0 auto;
}
.post-button{
  color: white;
  font-weight: bold;
  text-decoration: none;
}