* {
  margin: 0;
  padding: 0;

}

body {
  background-color: #bebbbb;
}

.photo {
  height: 40vmin;
  pointer-events: none;
}

.img {
  text-align: center;
}

.contact {
  border: 1px solid blue;
  text-align: center;
}
.current-job, .prev-experience {
  padding: 25px 100px;
  color: #fff;
  background-color: #555;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
}

h1 {
  background-color: #622323;
  text-align: center;
}
.work{
  font-size: 20px;
}
.bold{
  font-weight: bold;
  color:antiquewhite;
}
.main {
  margin: 50px 100px;
  width: 50%;
  float: left;
}

aside {
  width: 20%;
  margin-top: 50px;
  margin-left: 5%;
  float: left;
}

.main .work {
  margin-bottom: 50px;
  background-color: #3e8fa0;
  padding: 20px;
}

aside form input:not([type='checkbox']),
aside form textarea,
aside form button {
  width: 90%;
  padding: 15px 5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  border: 0;
  background: #2e2e2f;
  color: #fff;
  outline: none;
  font-size: 20px;
}

aside form input[type='checkbox'] {
  margin: 10px;
}

aside form button {
  width: 100%;
  cursor: pointer;
  transition: transform 500ms ease;
}

aside form button:hover {
  transform: scale(1.1);
}