h1 {
  text-align: center;
  font-style: italic;
}

.timer {
  width: 400px;
  margin: 20px auto;
}
.timer-item{
  display: inline-block;
  font-weight: bold;
  color: red;
  font-size: 30px;

}
span{
  font-weight: 300;
  color: blue;
  font-size: 16px;
}
